
.navbar{
    margin-bottom: 0;
    border:5px solid #0F6427;
}


*{
    overflow: auto;
    overflow-x: hidden;
}
.container{
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.custom-btn{
    font-size: 75px;
    padding:10px 20px;
    background-color: #53B1B7 !important;
    opacity: 74%;
}
.custom-btn:hover{
    background-color: #0F6427 !important;
}

.custom-btn2{
    font-size: 50px;
    padding:10px 20px;
    background-color: #0F6427 !important;

}
.custom-btn2:hover{
    background-color:#494343  !important;
}
.custom-btn3{
    font-size: 30px;
    padding:10px 20px;
    background-color: #53B1B7 !important;

}
.custom-btn3:hover{
    background-color:#494343  !important;
}


/*Nav hyperlinks*/
a:link{
    color:white;
    background-color: transparent;
    text-decoration: none;
}
a:visited{
    color:white;
    background-color: transparent;
    text-decoration: none;
}
a:hover{
    color: #E3E1E1;
    background-color: transparent;
    text-decoration: none;
}
a:active{
    color: pink;
    opacity: 74%;
    background-color: transparent;
    text-decoration: none;
}